body
    font-family: 'Roboto Slab', serif
    font-size: 16px
    line-height: 1.62
    color: #666
    background-color: #fff

    // min-height: 75rem
    // padding-top: 4.5rem

.fixed-top
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 1030

.no-padding
  padding-left: 0 !important
  padding-right: 0 !important

.bg-dark
    background-color: $main-color

.clearfix
    clear: both

.carousel
    background:#444

.carousel-item,
.img-fluid
    width: 100%
    height: auto

.carousel-item a
    display: block
    width: 100%

.bg-fullscreen
  background-image: url('https://source.unsplash.com/4000x2500/?cooking')
  height: 100vh
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  transition: all .25s ease

  @media (max-width: $media-tablet)
      height: 25vh
      transition: all .25s ease

  &-overlay
    position: relative
    display: block
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,0.5)
    z-index: 2

    &-title
      position: absolute
      top: 50%
      left: 50%
      color: white
      transform: translate(-50%,-50%)
      -ms-transform: translate(-50%,-50%)
      text-shadow: 0px 0px 2px #ffffff

      h1,
      h2
        font-size: 5rem

        @media (max-width: $media-tablet)
          font-size: 2rem

      h2
        color: $main-color

.badge
  font-size: 16px !important

.section
  padding-top: 3.125rem
  background-color: #ede6e6
  min-height: 100vh