.main-header
  position: fixed
  -webkit-backface-visibility: hidden
  top: 0
  left: 0
  z-index: 121
  width: 100%
  height: 145px
  -moz-transition: all .5s ease-in
  -o-transition: all .5s ease-in
  -webkit-transition: all .5s ease-in
  transition: all .5s ease-in
  background-color: rgba(19, 80, 67, 0)
  -moz-transition: translateZ(0)
  -o-transition: translateZ(0)
  -webkit-transform: translateZ(0)
  transform: translateZ(0)


.sticky-fixed
  padding: 0 1rem !important
  background-color: $main-color
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1)
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1)
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,1)

  .navbar-brand
      img
          width: 50px !important