$fa-fixed-size: 1.5em
$navbar-badge-color: #ffffff

.bg-krw
  background-color: $main-color

.navbar
  padding: 3rem 1rem
  border: 0 !important
  box-shadow: 0 !important
  color: #ffffff
  -moz-transition: all .5s ease-in
  -o-transition: all .5s ease-in
  -webkit-transition: all .5s ease-in
  transition: all .5s ease-in
  -moz-transition: translateZ(0)
  -o-transition: translateZ(0)
  -webkit-transform: translateZ(0)
  transform: translateZ(0)

  .navbar-brand
    color: #ffffff
    font-weight: 500

    img
        width: 100px
        transition: all .5s ease-in

        @media (max-width: $media-tablet)
            width: 50px !important

    h1
      font-weight: 800

    &:hover
      text-decoration: underline

  .navbar-nav
    @media (max-width: $media-tablet)
      margin-top: 1em
      background-color: $main-color

    .nav-item
      position: relative
      color: #ffffff

      @media (max-width: $media-tablet)
        border-bottom: 1px solid #050505

      .nav-link
        color: #ffffff
        padding-left: 0.6rem
        padding-right: 0.6rem
        font-size: 0.9rem
        text-transform: uppercase

        &:hover
          text-decoration: underline

.navbar-app
  .navbar-nav
    .nav-item
      position: relative
      color: #ffffff

      .nav-link
        display: flex
        align-items: center
        padding-left: 1.875rem
        padding-right: 1.875rem
        height: 4.0625rem
        color: #ffffff

        &:hover
          text-decoration: underline

      .counter-badge
        display: flex
        position: absolute
        padding: 0.25rem 0.4375rem
        font-size: 0.625rem
        color: $navbar-badge-color
        line-height: 1
        vertical-align: baseline
        white-space: nowrap
        text-align: center
        background-color: $badge-bg-color
        border-radius: 1.125rem
        top: 0.625rem
        left: 2.5rem

      .svg-inline--fa
        margin-right: 0.9375rem
        color: $accent-color
        font-size: $fa-fixed-size

.sticky-fixed
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 1030
