.page-item
  &:first-child
    .page-link
      border-radius: $border-radius
  &:last-child
    .page-link
      border-radius: $border-radius
  &.disabled
    border-radius: $border-radius
    .page-link
      background-color: #E3E9E5
      border-radius: $border-radius
      color: $main-color
      &:hover
        background-color: #E3E9E5
  &.active
    .page-link
      background-color: lighten($main-color, 45%)
      border: 0
      border-radius: $border-radius
      &:hover
        background-color: #E3E9E5
        color: $main-color
.page-link
  margin: 0 0.1rem
  color: #333
  border-radius: $border-radius
  &:hover
    background-color: $main-color
    color: #fff
