.sect-home
    @extend .section

    @media (max-width: $media-tablet)
        padding-top: 2rem !important

        .container
            max-width: initial !important

    .head
        color: #000
        text-transform: uppercase

        @media (max-width: $media-tablet)
            margin-bottom: 2rem !important

        h2
            font-size: 3rem
            font-weight: 800
            //margin-bottom: 3.1rem

            @media (max-width: $media-tablet)
                margin-bottom: 0
                font-size: 1.7rem

.recent-block
    min-height: 300px
    transition: all .25s ease
    padding: 1rem
    margin-bottom: 1.5rem
    background-color: #fff
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 12px
    z-index: 0

    @media (max-width: $media-tablet)
        min-height: 0
        margin-bottom: 0.5rem

    .recent-item
        a
            color: $accent-color

        p
            text-align: justify
            text-justify: inter-word

            @media (max-width: $media-phone)
                font-size: 0.8rem !important

            @media (max-width: $media-tablet)
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis

            @media (max-width: $media-laptop)
                font-size: 0.7rem !important

        &__title
            margin-bottom: 2rem
            font-size: 2rem

            @media (max-width: $media-phone)
                font-size: 1rem !important
                margin-bottom: 0

            @media (max-width: $media-tablet)
                font-size: 1.5rem
                margin-bottom: 0

            @media (max-width: $media-laptop)
                font-size: 1.5rem
                margin-bottom: 0

            &-comments
                margin-left: 1rem

.filter-form
    .col-form-label-lg
        @media (max-width: $media-tablet)
            font-size: 1rem !important

    .form-control
        padding: 1em 1em !important
        height: auto !important
        font-size: 1rem !important

    .custom-select
        background-color: #ffffff !important
        background: url("/img/arrow-up.png") no-repeat right 0.625rem center
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none

        &:hover
            background: url("/img/arrow-up_hover.png") no-repeat right 0.625rem center

.recent-more
    .btn
        background-color: $main-color
        border-bottom: 5px solid darken($main-color, 15%) !important
        color: #fff
        transition: width 0s
        padding: 1.4em 1em !important
        border: 0
        width: 40%
        text-transform: uppercase
        transition: all .25s ease

        @media (max-width: $media-tablet)
          width: 60%
          padding: 1em 1em !important
          font-size: 0.8rem

        &:hover
          background-color: darken($main-color, 5%)


.recent-bottom
    display: flex
    justify-content: space-between
    align-items: center
    transition: all .25s ease

    .gradients
        &__list
            list-style-type: none
            margin: 0
            padding: 0
            display: flex

            &-item
                margin-right: 0.2em
                background-color: #ddd7d7
                border: 1px solid #aba1a1
                color: #444444
                padding: 0.5em
                font-size: 1rem

    .viewers
        display: flex
        justify-content: center
        align-items: center
        font-size: 1.5rem
        margin-right: 5rem

        &-count
            color: #000000

.first
    @extend .section

    &__head
        color: #000
        text-transform: uppercase

        h2
          font-weight: 800

    &__content
        &--categories
            &--list
              list-style-type: none
              margin: 0
              padding: 0

              li
                margin-left: 1em

                a
                  color: #000

            &--offers
              .offer-item
                background-color: #fff
                box-shadow: 0 0 3px rgba(0,0,0,0.15)
                transition: .3s ease
                margin-bottom: 30px
                overflow: hidden

                &:hover
                  .offer-item__overlay
                    transition: all .45s ease
                    //transform: scale(2)
                    z-index: 3
                    &::before
                      opacity: 0.5
                    h1, h2
                      opacity: 1

                &__content
                  h1
                    font-size: 2rem

                  h2
                    font-size: 1.7rem
                    color: #858584
                    line-height: 1.5em

                &__overlay
                  background-color: $main-color
                  position: relative
                  display: block
                  margin: 0 auto
                  transition: all .45s ease
                  &::before
                    content: ""
                    width: 100%
                    height: 100%
                    position: absolute
                    left: 0
                    top: 0
                    opacity: 0
                    transition: all .5s ease
                    background-color: $main-color

                  &--text
                    position: relative
                    display: flex
                    justify-content: center
                    align-items: center
                    color: #fff
                    text-decoration: none
                    font-size: 14px
                    padding: 1em
                    line-height: 1

                    img
                      width: 100%
                      margin: 0 auto

                    h1
                      font-size: 1.7rem
                      left: 0
                      right: 0
                      letter-spacing: 1
                      margin: 0 auto
                      position: absolute
                      bottom: 50%
                      transform: translateY(50%)
                      color: #fff
                      opacity: 0

                      @media only screen and (max-width : 480px)
                        font-size: 1rem

                    h2
                      font-size: 1rem
                      top: 50%
                      left: 0
                      right: 0
                      letter-spacing: 1
                      margin: 0 auto
                      position: absolute
                      transform: translateY(50%)
                      color: #fff
                      opacity: 0

                      @media only screen and (max-width : 480px)
                        font-size: 0.5rem

.sect-search
    @extend .section

    .head
        color: #000
        text-transform: uppercase

        @media (max-width: $media-tablet)
            margin-bottom: 0 !important

        h2
            font-size: 3rem
            font-weight: 800
            //margin-bottom: 3.1rem

            @media (max-width: $media-tablet)
                margin-bottom: 0
                font-size: 1.7rem

.search-form
    .col-form-label-lg
        @media (max-width: $media-tablet)
            font-size: 1rem !important

    .form-control
        padding: 1em 1em !important
        height: auto !important
        font-size: 1rem !important

    .custom-select
        background-color: #ffffff !important
        background: url("/img/arrow-up.png") no-repeat right 0.625rem center
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none

        &:hover
            background: url("/img/arrow-up_hover.png") no-repeat right 0.625rem center

    .btn
        background-color: $main-color
        border-bottom: 5px solid darken($main-color, 15%) !important
        color: #fff
        transition: width 0s
        padding: 1.3em 1em !important
        border: 0
        width: 200%
        text-transform: uppercase
        transition: all .25s ease

        @media (max-width: $media-tablet)
            width: 100%
            padding: 1.3em 1em !important
            font-size: 0.8rem

        @media (max-width: $media-laptop)
            width: 100%
            padding: 1.3em 1em !important
            font-size: 0.8rem

        &:hover
          background-color: darken($main-color, 5%)


.form-inline
  label
    justify-content: left !important


.sect-recipe
    @extend .section

    .head
        color: #000
        text-transform: uppercase

        h2
            font-size: 3rem
            font-weight: 800
            margin-bottom: 3.1rem

            @media (max-width: $media-tablet)
                margin-bottom: 0
                font-size: 1.7rem

    [class*="col-"]
        padding-left: 2px !important
        padding-right: 2px !important
        margin-bottom: 2px !important

.recipe-item
    transition: all 0.25s ease
    text-align: center
    background-color: #fff
    overflow: hidden
    z-index: 0

    &:hover
        z-index: 2
        border: 4px solid
        border-color: $main-color
        transform: scale(1.05)
        box-shadow: rgba(0, 0, 0, 0.35) 0 0 32px

        a.recipe-item-image
            transform: scale(1.05)

            .fa
                opacity: 0.4

            &::before
                opacity: 0.7

    h4
        font-size: 18px
        margin-bottom: 10px
        display: flex
        align-items: center
        justify-content: center

.recipe-item-image
    min-height: 190px
    background-size: cover
    position: relative
    display: block
    transition: all 0.5s ease

    @media (max-width: $media-tablet)
        height: 190px

    .fa, &::before
        position: absolute
        opacity: 0
        transition: all 0.5s ease

    .fa
        font-size: 30px
        color: #fff
        top: 50%
        left: 50%
        margin-left: -10px
        margin-top: -10px
        transition: all 0.5s ease

.recipe-item-title
    color: #fff
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-60%, -50%)
    text-transform: uppercase
    text-decoration: none
    text-align: left
    font-size: 2rem
    padding-bottom: 15px
    line-height: 1
    padding-right: 50px
    z-index: 4

    @media (max-width: $media-tablet)
        padding-right: 0
        font-size: 1.9rem

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-bottom: 1px solid #fff

.sect-recipe::before
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ""

.recipe-item-image::before
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ""
    background-color: $main-color
    transition: all 0.5s ease

.filter-form
    .form-control
        padding: 1em 1em !important
        height: auto !important
        font-size: 1rem !important

    .custom-select
        background-color: #ffffff !important
        background: url("/img/arrow-up.png") no-repeat right 0.625rem center
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none

        &:hover
            background: url("/img/arrow-up_hover.png") no-repeat right 0.625rem center

.recipe-more
    .btn
        background-color: $main-color
        border-bottom: 5px solid darken($main-color, 15%) !important
        color: #fff
        transition: width 0s
        padding: 1.4em 1em !important
        border: 0
        width: 40%
        text-transform: uppercase
        transition: all .25s ease

        @media (max-width: $media-tablet)
            width: 60%
            padding: 1em 1em !important
            font-size: 0.8rem

        &:hover
          background-color: darken($main-color, 5%)

.sect-article
    @extend .section

    .head
        color: #000
        text-transform: uppercase

        @media (max-width: $media-tablet)
            margin-bottom: 0 !important

        h2
            font-size: 3rem
            font-weight: 800
            //margin-bottom: 3.1rem

            @media (max-width: $media-tablet)
                margin-bottom: 0
                font-size: 1.7rem

.article-block
    transition: all .25s ease
    padding: 1rem
    margin-bottom: 0.5rem
    background-color: #fff
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 12px
    z-index: 0

    .article-item
        a
            color: $accent-color

        p
            text-align: justify
            text-justify: inter-word

            @media (max-width: $media-phone)
                font-size: 0.8rem !important

            @media (max-width: $media-tablet)
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis

            @media (max-width: $media-laptop)
                font-size: 0.7rem !important

        &__title
            margin-bottom: 2rem
            font-size: 2rem

            @media (max-width: $media-phone)
                font-size: 1rem !important
                margin-bottom: 0

            @media (max-width: $media-tablet)
                font-size: 1.5rem
                margin-bottom: 0

            @media (max-width: $media-laptop)
                font-size: 1.5rem
                margin-bottom: 0

            &-comments
                margin-left: 1rem

.filter-form
    .col-form-label-lg
        @media (max-width: $media-tablet)
            font-size: 1rem !important

    .form-control
        padding: 1em 1em !important
        height: auto !important
        font-size: 1rem !important

    .custom-select
        background-color: #ffffff !important
        background: url("/img/arrow-up.png") no-repeat right 0.625rem center
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none

        &:hover
            background: url("/img/arrow-up_hover.png") no-repeat right 0.625rem center

.article-more
    .btn
        background-color: $main-color
        border-bottom: 5px solid darken($main-color, 15%) !important
        color: #fff
        transition: width 0s
        padding: 1.4em 1em !important
        border: 0
        width: 40%
        text-transform: uppercase
        transition: all .25s ease

        @media (max-width: $media-tablet)
          width: 60%
          padding: 1em 1em !important
          font-size: 0.8rem

        &:hover
          background-color: darken($main-color, 5%)

.sect-videorecipe
    @extend .section

    .head
        color: #000
        text-transform: uppercase

        h2
            font-size: 3rem
            font-weight: 800
            margin-bottom: 3.1rem

            @media (max-width: $media-tablet)
                margin-bottom: 0
                font-size: 1.7rem

    [class*="col-"]
        padding-left: 2px !important
        padding-right: 2px !important
        margin-bottom: 2px !important

.recipe-item
    transition: all 0.25s ease
    text-align: center
    background-color: #fff
    overflow: hidden
    z-index: 0

    &:hover
        z-index: 2
        border: 4px solid
        border-color: $main-color
        transform: scale(1.05)
        box-shadow: rgba(0, 0, 0, 0.35) 0 0 32px

        a.recipe-item-image
            transform: scale(1.05)

            &::before
                opacity: 0.7

        // .recipe-item-title
        //     opacity: 1

    h4
        font-size: 18px
        margin-bottom: 10px
        display: flex
        align-items: center
        justify-content: center

.recipe-item-image
    min-height: 190px
    background-size: cover
    position: relative
    display: block
    transition: all 0.5s ease

    @media (max-width: $media-tablet)
        height: 190px

    .svg-inline--fa
        color: #fff
        transition: all 0.5s ease
        text-shadow: 3px 3px 16px #000
        z-index: 4

        @media (max-width: $media-tablet)
            font-size: 4rem


    .fa, &::before
        position: absolute
        opacity: 0
        transition: all 0.5s ease

    .fa
        font-size: 30px
        color: #fff
        top: 50%
        left: 50%
        margin-left: -10px
        margin-top: -10px
        transition: all 0.5s ease

.sect-videorecipe::before
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ""

.recipe-item-image::before
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ""
    background-color: $main-color
    transition: all 0.5s ease

.filter-form
    .form-control
        padding: 1em 1em !important
        height: auto !important
        font-size: 1rem !important

    .custom-select
        background-color: #ffffff !important
        background: url("/img/arrow-up.png") no-repeat right 0.625rem center
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none

        &:hover
            background: url("/img/arrow-up_hover.png") no-repeat right 0.625rem center

.recipe-more
    .btn
        background-color: $main-color
        border-bottom: 5px solid darken($main-color, 15%) !important
        color: #fff
        transition: width 0s
        padding: 1.4em 1em !important
        border: 0
        width: 40%
        text-transform: uppercase
        transition: all .25s ease

        @media (max-width: $media-tablet)
            width: 60%
            padding: 1em 1em !important
            font-size: 0.8rem

        &:hover
          background-color: darken($main-color, 5%)

.sect-videorecipe
    @extend .section

    .head
        color: #000
        text-transform: uppercase

        h2
            font-size: 3rem
            font-weight: 800
            margin-bottom: 3.1rem

            @media (max-width: $media-tablet)
                margin-bottom: 0
                font-size: 1.7rem

    [class*="col-"]
        padding-left: 2px !important
        padding-right: 2px !important
        margin-bottom: 2px !important

.recipe-item
    transition: all 0.25s ease
    text-align: center
    background-color: #fff
    overflow: hidden
    z-index: 0

    &:hover
        z-index: 2
        border: 4px solid
        border-color: $main-color
        transform: scale(1.05)
        box-shadow: rgba(0, 0, 0, 0.35) 0 0 32px

        a.recipe-item-image
            transform: scale(1.05)

            &::before
                opacity: 0.7

        // .recipe-item-title
        //     opacity: 1

    h4
        font-size: 18px
        margin-bottom: 10px
        display: flex
        align-items: center
        justify-content: center

.recipe-item-image
    min-height: 190px
    background-size: cover
    position: relative
    display: block
    transition: all 0.5s ease

    @media (max-width: $media-tablet)
        height: 190px

    .svg-inline--fa
        color: #fff
        transition: all 0.5s ease
        text-shadow: 3px 3px 16px #000
        z-index: 4

        @media (max-width: $media-tablet)
            font-size: 4rem


    .fa, &::before
        position: absolute
        opacity: 0
        transition: all 0.5s ease

    .fa
        font-size: 30px
        color: #fff
        top: 50%
        left: 50%
        margin-left: -10px
        margin-top: -10px
        transition: all 0.5s ease

.sect-videorecipe::before
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ""

.recipe-item-image::before
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ""
    background-color: $main-color
    transition: all 0.5s ease

.filter-form
    .form-control
        padding: 1em 1em !important
        height: auto !important
        font-size: 1rem !important

    .custom-select
        background-color: #ffffff !important
        background: url("/img/arrow-up.png") no-repeat right 0.625rem center
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none

        &:hover
            background: url("/img/arrow-up_hover.png") no-repeat right 0.625rem center

.recipe-more
    .btn
        background-color: $main-color
        border-bottom: 5px solid darken($main-color, 15%) !important
        color: #fff
        transition: width 0s
        padding: 1.4em 1em !important
        border: 0
        width: 40%
        text-transform: uppercase
        transition: all .25s ease

        @media (max-width: $media-tablet)
            width: 60%
            padding: 1em 1em !important
            font-size: 0.8rem

        &:hover
          background-color: darken($main-color, 5%)


.sect-detail
    @extend .section

    .head
        color: #000
        text-transform: uppercase

        h2
            font-size: 3rem
            font-weight: 800
            margin-bottom: 3.1rem

            @media (max-width: $media-tablet)
                margin-bottom: 0
                font-size: 1.7rem
