$focus-color: #444444

.btn:focus,
.btn:active:focus,
.btn.active:focus
    outline: none
    box-shadow: none

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus
    outline: !important
    -moz-outline-style: none !important
    background-color: none !important
    border: 0 !important
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important
    transition: 0

button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner
    border: 0
    padding: 0

input:hover::-webkit-input-placeholder
    color: $focus-color

input:hover:-moz-placeholder
    color: $focus-color

input:hover::-moz-placeholder
    color: $focus-color

input:hover:-ms-input-placeholder
    color: $focus-color

.card
    background-color: $card-bg-color

    .card-header
        //background-color: $accent-color
        font-size: 1rem
